/**
 * Colors contains basic crucial css behavior
 * @date 13.2.22
 * @author natsu
**/

$neight-white: #FFFFFF !default;
$neight-red: #A00E0E !default;
$neight-black: #555555 !default;
$neight-green: #16A163;
$neight-silver: #c0c0c0 !default;
$neight-platinum-gray: #e5e4e2 !default;