<div class="dashboard-overview-view">
  View
</div>
<div class="dashboard-overview-controls">
  <div
    id="fileContainer"
    [ngClass]="{'cds--file__drop-container--drag-over': dragOver}"
    (click)="fileInput.click()"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    >
    Upload file via CSV File
    <input #fileInput type="file" class="bx--file-input input-hide" multiple [accept]="true" tabindex="-1"/>
  </div>
  <div>
    <button
      ibmButton="primary"
      (click)="registerGuestManuallyPopup()"
    >
      Register Guest Manually
    </button>
    <ibm-placeholder></ibm-placeholder>
  </div>
</div>
<div class="dashboard-overview-controls">
  <h6>Files to upload</h6>
  <div>
    <ng-container *ngFor="let fileItem of addFiles">
      {{ fileItem.name }}
    </ng-container>
  </div>
</div>