<ibm-table-container>
  <ibm-table
    [model]="guestWeddingModel"
    (sort)="sort($event)"
    [striped]="false"
    [showSelectionColumn]="false"
  >
    <!-- <tbody>
      <tr>
        <td class="no-data" colspan="69"><div>No data.</div></td>
      </tr>
    </tbody> -->
  </ibm-table>
  <ibm-pagination
    [model]="guestWeddingModel"
    [showPageInput]="true"
    [itemsPerPageOptions]="itemsPerPageOptions"
    [translations]="translations"
    (selectPage)="selectPage($event)"
  >
  </ibm-pagination>
</ibm-table-container>
