<!-- <div [ibmTheme]="theme">
  <ibm-sidenav>
    <div>
      <span>
        Menu
      </span>
    </div>
    <div>
      <ibm-sidenav-item *ngFor="let item of menuItems" (click)="changeRouter()">
          <svg ibmIcon="{{ item.icon }}" size="{{ item.size }}"></svg>
          {{ item.title }}
      </ibm-sidenav-item>
    </div>
    <div>
      <span>
        Settings
      </span>
    </div>
    <div>
      <ibm-sidenav-item *ngFor="let item of menuSettingItems" (click)="changeRouter()">
          <svg ibmIcon="{{ item.icon }}" size="{{ item.size }}"></svg>
          {{ item.title }}
      </ibm-sidenav-item>
    </div>
    <div>
      <ibm-sidenav-item (click)="login()">
          <svg ibmIcon="lifesaver" size="16"></svg>
          Login
      </ibm-sidenav-item>
    </div>
  </ibm-sidenav>
</div>
<div>
  <neight-tech-wedding-dashboard>
  
  </neight-tech-wedding-dashboard>
</div> -->