/**
 * Dashboard field
 * @date 19.2.22
 * @author natsu
**/

$neight-dashboard-field-width: 100% !default;

app-dashboard-field {
    width: $neight-dashboard-field-width;

    .neight-dashboard-header {
        display: flex;
        padding: 0 0.5rem;
    }

    .neight-dashboard-field-button {
        display: flex;
        padding: 0.5rem 0;
        justify-content: center;
    }

    .neight-dashboard-search-engine {
        display: flex;
        padding: 0.5rem 0.5rem;
    }
}