<!-- <ibm-modal size="xs" [open]="true" (overlaySelected)="closeModal()">
  <ng-container> -->
    <div class="login-page">
      <h3 ibmModalHeaderHeading>Login</h3>
      <section ibmModalContent>
        <form [formGroup]="registerUserFormGroup">
        <div class="basic-information__row" ibmRow>
          <ibm-label>
            Username
          <input
            ibmText
            formControlName="registerUserFormControl"/>
          </ibm-label>
          <ibm-label>
            Password
          <input
            type="password"
            ibmText
            formControlName="registerUserFormControl"/>
          </ibm-label>
        </div>
      </form>
      </section>
      <ibm-modal-footer>
        <button class="cds--btn cds--btn--secondary" >Cancel</button>
        <button class="cds--btn cds--btn--danger" (click)="login()">Login</button>
      </ibm-modal-footer>
    </div>
  <!-- </ng-container>
</ibm-modal> -->
