<ibm-modal size="xs" [open]="true" (overlaySelected)="closeModal()">
  <ng-container>
    <ibm-modal-header (closeSelect)="closeModal()" [showCloseButton]="false">
      <h3 ibmModalHeaderHeading>Register Guest(s)</h3>
    </ibm-modal-header>
    <section ibmModalContent>
      <form [formGroup]="registerUserFormGroup">
        <div class="basic-information__row" ibmRow *ngIf="registerUserFormGroup.controls['registerUserFormControl'].valid">
          <ibm-label>
            Name
          <input
            ibmText
            formControlName="registerUserFormControl"
            (keydown.enter)="enterGuest()"/>
          </ibm-label>
        </div>
      </form>
    </section>
    <div>
      <ibm-label *ngFor="let enteredGuest of enteredGuests">
        {{ showEnteredGuest(enteredGuest) }}
      </ibm-label>
    </div>
    <ibm-modal-footer>
      <button class="cds--btn cds--btn--secondary" (click)="closeModal()">Cancel</button>
      <button class="cds--btn cds--btn--danger" (click)="registerGuests()">Register</button>
    </ibm-modal-footer>
  </ng-container>
</ibm-modal>
