/**
 * Dashboard field
 * @date 24.2.22
 * @author natsu
**/

@import './dashboard-field-area-vars'; //todo check if vars scss are necessary!

app-dashboard-field-area {
    
    background-color: $neight-dashboard-field-area-background-color;
    color: $neight-dashboard-field-area-color;
    width: $neight-dashboard-field-area-width;
    .neight-dashboard-field-area-fields {

        padding: 0.5rem 0;
        
        .neight-dashboard-field-area-fixed-fields {
            border-radius: $neight-dashboard-field-area-add-fields-border-radius;
            min-height: $neight-dashboard-field-area-fixed-fields-min-height;
            box-shadow: $neight-dashboard-field-area-fixed-fields-box-shadow;
        }
        
        .neight-dashboard-field-area-add-fields {
            border-radius: $neight-dashboard-field-area-add-fields-border-radius;
            min-height: $neight-dashboard-field-area-add-fields-min-height;
            border: $neight-dashboard-field-area-add-fields-border;
            // width: 100%;
        }
    }

}