
neight-wedding-guest-list, neight-wedding-guest-family-list {
  display: block;
  max-height: 35rem;

  mat-form-field {
    padding: 0 1rem;
  }

  mat-table {
    &.neight-guest-list {
      padding: 0 1rem;

      mat-header-row {
        background-color: $neight-silver;
        
        mat-header-cell {
          font-weight: 600;
        }
      }
      
      mat-row {
        &:nth-child(2n) {
          background-color: $neight-platinum-gray;
        }
      }

      .attended-indicator {
        display: flex;
        width: 100%;
        min-height: 3rem;
        align-items: center;

        &.guest-attended {
          background-color: $neight-green;
        }

        &.guest-not-attended {
          background-color: $neight-red;
        }
      }



      .neight-guest-list-checkin-button {
        cursor: pointer;
      }
    }
  }
}